includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config

    tmpDir: build/phpstan

    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Trait AdamczykPiotr\\LaravelBalancedQueues\\Traits\\[a-zA-Z0-9\\_]+ is used zero times and is not analysed.#'
